// Luminance: Gets the relative luminance of $color.
// Based on https://www.w3.org/TR/WCAG20/#relativeluminancedef

@use "sass:color" as color;
@use "sass:list" as list;
@use "sass:math" as math;

@function luminance($color) {
	// Break down color into rgb channels:
	$rgb: color.red($color), color.green($color), color.blue($color);

	// Loop through each color:
	@for $i from 1 through 3 {
		// Get and divide channel by 255:
		$channel: math.div(list.nth($rgb, $i), 255);

		// Perform calculations on channel:
		$channel: if($channel < 0.03928,
			math.div($channel, 12.92),
			math.pow(math.div($channel + 0.055, 1.055), 2.4)
		);

		// Replace channel in list:
		$rgb: list.set-nth($rgb, $i, $channel);
	}

	// Calculate and return color luminance:
	@return (
		(0.2126 * list.nth($rgb, 1)) +
		(0.7152 * list.nth($rgb, 2)) +
		(0.0722 * list.nth($rgb, 3))
	);
}