// Luminance: Gets the relative luminance of $color.
// Based on https://www.w3.org/TR/WCAG20/#relativeluminancedef

@use "../sass" as *;

@function luminance($color)
{
	// Break down color into rgb channels:
	$rgb: COLOR-red($color), COLOR-green($color), COLOR-blue($color);

	// Loop through each color:
	@for $i from 1 through 3
	{
		// Get and divide channel by 255:
		$channel: MATH-div(LIST-nth($rgb, $i), 255);

		// Perform calculations on channel:
		$channel: if($channel < 0.03928, MATH-div($channel, 12.92), MATH-pow(MATH-div($channel + 0.055, 1.055), 2.4));

		// Replace channel in list:
		$rgb: LIST-set-nth($rgb, $i, $channel);
	}

	// Calculate and return color luminance:
	@return (0.2126 * LIST-nth($rgb, 1) + 0.7152 * LIST-nth($rgb, 2) + 0.0722 * LIST-nth($rgb, 3));
}